<h1>Here is our detail page</h1>
<img src="{{oneWizard.image}}" alt="{{oneWizard.name}}" class="detail" />
<h2>{{oneWizard.name}}</h2>
<h3>House: {{oneWizard.house}}</h3>
<h4>Wand: </h4>
<h6>Material: {{oneWizard.wand.wood}}</h6>
<h6>Core: {{oneWizard.wand.core}}</h6>
<h6>Length: {{oneWizard.wand.length}}</h6>